
.pagina2{
    display: flex;
    height: 100vh;
    font-family: 'Open Sans',Arial,sans-serif;
}

.pag2-seccion{
    display:  block;
    width: 50%;
    align-content: baseline;
    align-items: center;
}

.pag2-subti{
    display: flex;
	justify-content: center;
    vertical-align: baseline;
    color: #ffffff;
}
.subtitulo{
    text-align: center;
    font-size: 30pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.pag2-contenido1-flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	padding: 10px 10px 10px;
}

.formacion-contai{
    display: flex;
}

.imgform{
width: 120px;
}

.formacion-caja {
    width: 70%;
    height: 140px;
    background: #ffffff;
    margin: 10px;
    padding: 10px;
    border: 0.15rem solid #a7a7a7;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.fcaja1{
    width: 50%;
}
.fcaja2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fcaja-titulo{
    font-size: 19px;
}
.formacion__lugar {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    text-align: left;
    color: #F5DF4D;
}
.formacion__curso {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.85rem;
    text-align: left;
    color: #232323;
}





.titulo-habilidad {
    width: 650px;
    height: 30px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
h3{
    font-size: 18px;
    display: flex;
    align-items: center;
}

.subtitulo-especialidad{
    color: #000000;
    font-family: monospace;
    font-size: 20px;
}
.titcolorfront{
    background-color: #fbbc75;
}
.titcolorback{
    background-color: #c3fbaf;
}
.titcolorbd{
    background-color: #b1aefd;
}



.contenedor-card2{
    display: flex;
}
.hab-card {
    width: 200px;
    height: 150px;
    background: #ffffff;
    margin: 10px;
    border: 0.15rem solid #a7a7a7;
    border-radius: 10px;
}
.hab__lugar {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 25px;
    color: #000000;
}
.hab__curso {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.85rem;
    text-align: left;
    color: #232323;
    padding: 1px 0;
}


@media (max-width:760px){

    .pagina2{
        display:flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .pagina2-seccion{
        display: block;
    }

    .pag2-subti{
        display: flex;
        align-items: center;
        text-align: center;
    }

    .pag2-contenido1{
        display: flex;
        justify-content: center;
    }

    .pag2-contenido1-flex{
        display: block;
        justify-content: center;
        align-content: center;
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap; */
        padding-top: 150px;
        padding:  10px 10px 10px;
    }

 

}