
.pagina3{
	display: block;
	height: 100vh;
}
.p3-titulo{
	padding-top: 20px;
	height: 50px;
	font-size: 30pt;
	
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #FFF;
}

.p3-container{
	margin-top: 1px;
	display: flex;
	justify-content: center;

	width: 100%;
	list-style: none;
}

.p3-elemento {
	width: 300px;
	height: 600px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	margin-top: 50px;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
	border-radius: 15PX;
	border-color: aliceblue;
	overflow: hidden;
}
.p3-elemento a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
.p3-elemento:hover {
	box-shadow:  4px 4px 8px #f2fde5;
}
.p3-elemento a:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px auto;
}

.imgg{
width: 450px;
}

@media (max-width:760px){

    .pagina3{
        display:block;
		flex-direction: column;
		justify-content: center;
		height: 43%;
    }

	.p3-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.p3-titulo{
		text-align: center;
	}

.foot{
}

}