
.pagina3{
	display: block;
	height: 100vh;
}
.p3-titulo{
	font-size: 30pt;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #FFF;
}

.p3-container{
	margin-top: 1px;
	display: flex;
	justify-content: center;
	width: 100%;
	list-style: none;
}

.p3-elemento {
	width: 300px;
	height: 300px;
	margin: 1%;

	background-color: #FFF;
	text-align: center;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
	border-radius: 15PX;
	border-color: aliceblue;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	margin-top: 50px;
}
/* .p3-elemento a {
	text-decoration: none;
	color: #000;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
} */

.img-proyecto{
}

.p3-elemento:hover {
	box-shadow:  4px 4px 8px #f2fde5;
}

.imgg{
width: 450px;
}

.proyecto-cabecera{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 15px;
	height: 50px;
	
}

.proyecto-titulo{
 width: 80%;
}

.ico-proyectos{
	width: 45px;
}


@media (max-width:760px){

    .pagina3{
        display:flex;
		flex-direction: column;
		height: 43%;
    }

	.p3-container{
		flex-direction: column;
		align-items: center;
	}
	.p3-titulo{
		text-align: center;
	}

.foot{
}

}