

.pagina2{
    display: flex;
    height: 930px;
    font-family: 'Open Sans',Arial,sans-serif;
}

.pag2-subti{
    width: 100%;
    color: #ffffff;
    height: 75px;
    vertical-align: baseline;
}
.subtitulo{
    font-size: 30pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 20px;
}
.pag2-seccion1{
    display:  block;
    
    width: 50%;
    align-content: center;
}


.pag2-contenido1-flex{
    width: 100%;
    height: 700px;

    display: grid;
    grid-template-columns: repeat(2,15rem);
    justify-content: center;
    align-content: center;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
	padding: 10px 10px 10px;
}
.formacion__estudios {
    width: 150px;
    height: 200px;
    background: #ffffff;
    margin: 10px;
    padding: 10px;
    border: 0.15rem solid #a7a7a7;
    border-radius: 10px;
}
.formacion__cursos{
    font-size: 19px;
}
.formacion__lugar {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    text-align: center;
    color: #F5DF4D;
}
.formacion__curso {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.85rem;
    text-align: left;
    color: #232323;
    padding: 0.6rem 0;
}





.pag2-seccion2{
    display: block;
    width: 50%;
}
.pag2-contenido2{
    display: flex;
    flex-direction: column;
}
.contenido2-esp{
    display: block;
}


.titulo-habilidad{
    width: 70%;
    height: 32px;
    border-radius: 7px;
    font-size: 18px;
    margin: 10px 0px 0px 10px;
    padding-left: 10px;
}
.subtitulo-especialidad{
    color: #000000;
    font-family: monospace;
    font-size: 20px;
}
.titfront{
    background-color: #ffe194;
}
.titback{
    background-color: #a2fa83;
}
.titbd{
    background-color: #ff7cfb;
}



.contenedor-card2{
    display: flex;
}
.hab-card {
    width: 200px;
    height: 150px;
    background: #ffffff;
    margin: 10px;
    border: 0.15rem solid #a7a7a7;
    border-radius: 10px;
}
.formacion__lugar2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 25px;
    color: #000000;
}
.formacion__curso2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.85rem;
    text-align: left;
    color: #232323;
    padding: 1px 0;
}

