
html{
	scroll-behavior: smooth;
}

body {
	background-image: url("../img/FondoTodo.png");
	background-size: cover;
}


.contenedor{
	display: flex;
}
.relleno{
width: 100px;
}
.conte{
	display: block;
}




 @media (max-width:760px){

.contenedor{
	display: block;
}

.relleno{
	display: none;
}
.conte{
	display: block;
}

 }