
html{
	scroll-behavior: smooth;
}

body {
	background-image: url("../img/FondoTodo.png");
	background-size: cover;
}


.contenedor{
	display: flex;
}
.relleno{
width: 100px;
}
.conte{
width: 100%;
}




 @media (max-width:760px){



.relleno{
	display: none;
}


 }